#loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid green;
  border-top: 5px solid transparent;

  animation: spin 600ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
