.card-body {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 4px;
}

.card-image {
  height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}