.card-body {
  width: 300px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 4px;
}

.card-body:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.02);
}

.card-image {
  height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.card-content {
  padding: 10px;
}
