.header {
  background-color: rgb(117, 53, 10);
  padding: 16px 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h1 {
  color: white;
  font-size: 24px;
}

nav {}