.header {
  background-color: rgb(117, 53, 10);
  padding: 16px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header #logo {
  flex: 2;
}

.header h1 {
  color: white;
  font-size: 24px;
}

nav {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  gap: 8px;
  flex-wrap: wrap;
}

nav button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 80px;
  border-radius: 4px;
}

nav button:hover {
  background-color: rgb(172, 101, 55);
}

nav button.active {
  background-color: rgb(172, 101, 55);
}
